body{
  background-color: aquamarine;
  font-family:      TradeGothic, sans-serif;
    margin-left:                       -512px;
    margin-top:                        -300px;
    position:                        absolute;
    left:                                 50%;
    top:                                  50%;
}
#textarea{
  height: 400px;
  margin-right: 30px;
}
.btn.btn-primary{
  background-color: aqua;
  color: black;
  border: 2px solid black;
}
.btn.btn-primary:hover{
  background-color: darkgray;
  color: black;
}
.btn.btn-primary.new{
  margin-left: 430px;
}
